<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">{{ nama }} ({{ nim }})</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>

<div class="b-example-divider"></div>

<div class="container">
  <div class="row mx-2">
    <div class="col-12">
      <button class="btn btn-success m-1">
        <i class="fa fa-whatsapp"></i>
        Kirim WhatsApp
      </button>
      <button class="btn btn-primary m-1">
        <i class="fa fa-plus"></i>
        Record Baru
      </button>
      <button class="btn btn-danger m-1">
        <i class="fa fa-trash"></i>
        Hapus Record
      </button>
      <button class="btn btn-warning m-1">
        <i class="fa fa-edit"></i>
        Ubah Record
      </button>
      <button class="btn btn-info m-1">
        <i class="fa fa-search"></i>
        Pencarian
      </button>
      <button class="btn btn-default m-1">
        <i class="fa fa-times"></i>
        Batal
      </button>
    </div>

    <div class="col-12">
      <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
      </div>
      
      <table class="table mb-3">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">NIM</th>
            <th scope="col">Nama</th>
            <th scope="col">Kelas</th>
            <th scope="col">Semester</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>212102386</td>
            <td>Albert Chrishansen</td>
            <td>C3</td>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>212102389</td>
            <td>Kevin Lysander</td>
            <td>C3</td>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>212102374</td>
            <td>Michael Riandy</td>
            <td>C3</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">NIM</th>
            <th scope="col">Nama</th>
            <th scope="col">Kelas</th>
            <th scope="col">Semester</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>212102386</td>
            <td>Albert Chrishansen</td>
            <td>C3</td>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>212102389</td>
            <td>Kevin Lysander</td>
            <td>C3</td>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>212102374</td>
            <td>Michael Riandy</td>
            <td>C3</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12">
      <input type="text" class="form-control m-1" placeholder="Ini TextBox"/>
    </div>
    <div class="col-12">
      <select class="form-control m-1">
        <option value="SI/SI">SI/SI</option>
        <option value="TI/TI">TI/TI</option>
      </select>
    </div>
    <div class="col-12">
      <div class="overflow-hidden rounded-3 dropdown-menu d-block position-static" style="">
        <form class=" border-bottom p-2 mb-2">
          <input type="search" class="form-control" autocomplete="false" placeholder="Type to filter...">
        </form>
        <ul class="list-unstyled mb-0">
          <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
            <span class="d-inline-block bg-success rounded-circle" style="width: .5em; height: .5em;"></span>
            Action
          </a></li>
          <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
            <span class="d-inline-block bg-primary rounded-circle" style="width: .5em; height: .5em;"></span>
            Another action
          </a></li>
          <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
            <span class="d-inline-block bg-danger rounded-circle" style="width: .5em; height: .5em;"></span>
            Something else here
          </a></li>
          <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
            <span class="d-inline-block bg-info rounded-circle" style="width: .5em; height: .5em;"></span>
            Separated link
          </a></li>
        </ul>
      </div>  
    </div>

    <div class="col-12">
      <div class="modal position-static d-block" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
        </ul>
        <p class="text-center">&copy; 2023 STMIK PONTIANAK</p>
      </footer>
    </div>
    
  </div>
</div>